.tb-class-row {
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

.tb-heading-border {
    border-bottom: 1px solid var(--border-color);
}

.body-content-tbl {
    margin-top: 20px;
}

.tb-class {
    width: 100%;
    font-size: 1.4rem;
    text-align: left;
    margin: 4px;
}

.tb-class-heading {
    width: calc(90% / 5);
}

.tb-class-data {
    width: calc(95% / 5);
}

.class-link {
    text-decoration: none;
    color: var(--black-color);
}

.tb-options {
    width: 5%;
}

.options-icon {
    padding: 0 4px;
}

.options-icon:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.class-link:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.addClass-form {
    width: 450px;
    text-align: center;
    padding: 20px;
}

.addClass-form__container {
    display: flex;
    flex-direction: column;
}

.addClass-form__container--enable {
    display: none;
}

.addClass-form__input-list {
    list-style: none;
    padding: 0;
    font-size: 1.4rem;
}

.addClass-form__input-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.addClass__input {
    width: 250px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid var(--border-color);
}

.addClass__input--no-border {
    border: none;
    border-radius: 1px;
}

.addClass__input:focus {
    border: none;
    outline: 2px solid var(--primary-color);
}

.addClass-form__controls {
    display: flex;
    justify-content: space-around;
}

.success-form__container {
    display: none;
}

.success-form__container--active {
    display: block;
}
