:root {
    --primary-color: #6772E5;
    --white-color : #fff;
    --black-color : #000;
    --text-color : #333;
    --border-color : #dbdbdb;
    --background-color :rgba(255, 255, 255, 0.7);

}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-image: url(../img/background.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 33.3333%;
}

.grid__column-6 {
    padding-left: 5px;
    padding-right: 5px;
    width: 50%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.333%;
}



/* Header */
.app__header {
    background: rgba(47, 228, 239, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 8px 8px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-with-avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__user {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 4px;
}

.header__user:hover {
    background-color: #fff;
    border-radius: 4px;
}

.header__user:hover .header__user-menu {
    display: block;
}

.header__software-name {
    text-decoration: none;
    color: var(--black-color);
}

.header__user-menu {
    position: absolute;
    width: 140px;
    background-color: #fff;
    list-style: none;
    top: 28px;
    right: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding: 6px 12px;
    z-index: 1;
    display: none;
}

.header__user-menu::after {
    content: "";
    position: absolute;
    display: block;
    width: 85%;
    height: 20px;
    top: -12px;
    right: 0;
}

.header__user-item {
    font-size: 1.2rem;
    padding: 4px 0;
    font-weight: 500;
}

.header__user-item a {
    text-decoration: none;
    color: var(--text-color);
}

.header__user-item a:hover {
    color: violet;
}

.header__user-item:hover {
    color: violet;
    cursor: pointer;
}

.header__icon {
    width: 50px;
    margin-right: 6px;
}

.header__avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.header__username {
    margin: 8px;
    font-size: 1.4rem;
    font-weight: 600;
}

/* Footer */
.app__footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    height: 80px;
    font-size: 1.2rem;
    color: #fff;
    background: rgba(47, 228, 239, 0.4);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Body */
.app__container {
    margin-top: 10px;
    height: 700px;
}

/* Animation */

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
    
}

@keyframes Growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
    visibility: hidden;
}

.modal--active {
    visibility: visible;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.modal__body {
    border-radius: 10px;
    background-color: var(--white-color);
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    z-index: 1;
    animation: Growth linear 0.1s;
}

.logout-form__header {
    font-size: 1.4rem;
}

.logout-form {
    width: 400px;
    height: 100px;
    padding: 10px;
}

.logout-form__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logout-form__controls {
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.logout-form__heading {
    margin: 10px 0 20px;
    font-size: 2rem;
    padding: 0;
}

/* Button */
.btn {
    min-width: 110px;
    padding: 4px;
    font-size: 1.6rem;
    color: var(--white-color);
    background-color: var(--primary-color);
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn:hover {
    box-shadow: none;
}

/* Tab button */
.tabBtn {
    max-width: 130px;
    min-width: 100px;
    padding: 4px;
    font-size: 1.2rem;
    color: var(--black-color);
    background-color: transparent;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 2px ;
}

.tabBtn--enable {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.tabBtn--disable {
    background-color: transparent;
}


.navbar-list {
    width: 100%;
    list-style: none;
    /* margin-left: 15px; */
    margin-top: 0;
    background-color: var(--white-color);
    padding: 0 10px;
    border-radius: 5px;
}

.navbar-item {
    border-top: 1px solid var(--border-color);
}

.navbar-item {
    cursor: pointer;
}

.navbar-item:first-child {
    border-top: transparent;
}
.navbar-item__link {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    transition: right linear 0.1s;
    right: 0;
    text-decoration: none;
    color: #222;
}

.navbar-item__link:hover {
    color: blueviolet;
    right: -4px;
}

.navbar-item__icon {
    font-size: 1.2rem;
    margin-right: 4px;
}

.navbar-item__text {
    font-size: 1.3rem;
}

/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.navigation-link {
    font-size: 2rem;
    margin-right: 5px;
    color: var(--primary-color);
}

.navigation-item {
    font-size: 1.2rem;
    margin: 0;
    color: var(--black-color);
    transform: translateY(1px);
}

/* Body */
.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-heading {
    height: 51px;
    width: 90%;
    text-align: center;
    background-color: var(--background-color);
    border-radius: 10px;
}

.body-heading-title {
    font-size: 2.6rem;
}

.body-content {
    height: 640px;
    margin-top: 5px;
    padding: 10px;
    width: 90%;
    background-color: var(--background-color);
    border-radius: 10px;
}

/* Controls */
.controls{
    display: flex;
    justify-content: space-between;
}

.controls__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    background-color: var(--white-color);
    border-radius: 10px;
    padding: 6px 10px;
    
}

.controls__search-inp {
    border: none;
    outline-color: transparent;
    font-size: 1.4rem;
}

.controls__search-icon {
    font-size: 1.8rem;
}

.controls__btn {
    width: 350px;
    display: flex;
    justify-content: space-between;
}

.controls__btn-tb {
    font-size: 1.2rem;
    border: none;
    color: var(--black-color);
    background-color: transparent;
}

.controls__btn-tb:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.controls__btn-add {
    width: 150px;
}

/* Class Info */
.class-info__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.class-info__item {
    display: flex;
    align-items: center;
}

.class-info__title {
    font-size: 1.8rem;
    margin-right: 6px;
}

.class-info__content {
    font-size: 1.6rem;
}

.separate {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.line {
    width: 50%;
    border-bottom: 1px dashed #888;
}

.body-content-tbl__heading {
    text-align: center;
}

.tb-student-body {
    
    overflow: auto;
}